/* FOR PROFILE PAGE */

.navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -5px;
}

.arrow-left-key {
    font-size: 20px !important;
    cursor: pointer;
}


.arrow-left-key:active {
    opacity: 0.7;
}

.center-container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.user-profile{
    border: 1px solid darkgray;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.user-profile-heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spinner-pfp{
    display: flex;
    justify-content: center;
}

.blur-background {
    filter: blur(1px); /* Adjust the blur amount as needed */
}

#spinner{
    position: absolute;
    color: red;
    margin-top: -200px;
    margin-left: -20px;
    font-size: 22px; 
    display: none;
    width: 7rem;
    height: 7rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.user-name{
    padding-left: 3px;
    font-size: 14px;
    width: 87%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.user-email{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 3px;
    font-size: 14px;
    width: 87%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sign-out-btn{
    border: none;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background-color: #fff;
    width: 60%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
    margin-bottom: 20px;
}

.sign-out-btn:hover{
    background-color: red;
    color: #fff;
}

.sign-out-btn:active{
    opacity: 0.8;
}

.enroll{
    margin-bottom: 20px;
    margin-top: 5px;
}

.login-btn{
    font-size: 14px;
    background-color: red;
    color: #fff;
    border: none;
    border: 1px solid red;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    transition: background-color 0.4s, color 0.4s;
    border-radius: 5px;
}

.login-btn:hover{
    background-color: #000;
    border-color: #000;
}

.login-btn:active{
    opacity: 0.8;
}

.signup-btn{
    font-size: 14px;
    background-color: red;
    color: #fff;
    border: none;
    border: 1px solid red;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    transition: background-color 0.4s, color 0.4s;
    border-radius: 5px;
}

.signup-btn:hover{
    background-color: #000;
    border-color: #000;
}

.signup-btn:active{
    opacity: 0.8;
}
